<!DOCTYPE html>
</html>
<head>
  <meta charset="UTF-8">
  <title>GreenCodes - Sucesso</title>
</head>
  <body>
<style>
body {
 background-color: #2c2f33
}

h1 {
 color: #00ff00;
}

* {
margin: 0;
padding: 0;
outline: 0;
font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<div class="container">
<h1>Alterações feitas com sucesso!</h1>
</div>
  </body>
</html>
